body {

    text-align: justify;
    text-align-last: center;
    margin-left: 10px;
    margin-right: 10px;

}


.responsive-youtube{

    overflow:hidden; padding-bottom:56.25%; position:relative; height:0;
}
.responsive-youtube iframe{

left:10; top:10; height:100%; width:100%; position:absolute;
}

